header.header
  - var navbar = page.header.navbar
  div.nav.header__nav
    .container.nav__container
      .row.justify-content-between.align-items-center
        .col-auto
          a.nav__link.nv-map.js-scroll-trigger(href=navbar.navigation.href)
            +svg(navbar.navigation.icon)(class="nv-map__icon")
            span.nv-map__text!= navbar.navigation.text
        .col-auto.order-md-1
          .nv-nav-toggler.nav__toggler
            button#nav-toggler.nv-toggler.nv-nav-toggler__btn(type="button", data-toggler=".js-navbar-1")
              span.nv-toggler__line
              span.nv-toggler__line
              span.nv-toggler__line
            label.nv-toggler-text.nv-nav-toggler__text(for="nav-toggler")!= navbar.nav.text
        .col-24.col-md
          .nv-descr.nav__descr
            +svg(navbar.descr.icon)(class="nv-descr__icon nv-descr__icon--md-fixed")
            p.nv-descr__text!= navbar.descr.text
    
    nav.navbar.navbar--ferdinand.nav__navbar.js-navbar-1
      .navbar__bg
      .navbar__box
        ul.navbar__list
          li.navbar__item
            .navbar__link.navbar__link--main.navbar__link--between
              h3.navbar__heading!= navbar.nav.text
              button.nv-close.navbar__close
                +svg(navbar.nav.close.icon)(class="nv-close__icon")
          each item, i in navbar.nav.items
            li.navbar__item
              a.link.link.navbar__link.js-scroll-trigger(href=item.href) 
                +svg(item.icon)(class="navbar__icon")
                span.navbar__text!= item.text
  - var intro = page.header.intro
  section.intro.header__intro
    .container
      .row.align-items-stretch
        .col-24.col-md-12
          .intro__box
            .intro__heading
              h2.intro__heading--text!=intro.heading
              i.ic.ic--venzel
            .intro__text!=intro.text
            a.btn.js-gallery__btn(data-fancybox="gallery", href="https://youtu.be/d9WwPxnQrnw", rel="nofollow") Жизнь храма
        .col-24.col-md-12
          .movie
            video.movie__video.js-video(autoplay loop muted)
              source(src="video/video.webm" type="video/webm")
              source(src="video/video.mp4" type="video/mp4")
