mixin cols(i, days)
  if ((i === days - 1) && days % 2 !== 0)
    .col-24.schedule__col(class={"schedule__col--hidden" : i >= 4})
      block
  else
    .col-24.col-md-12.col-lg-8.schedule__col(class={"schedule__col--hidden" : i >= 6})
      block
section.schedule#schedule
  .container
    .row
      .col-24
        .heading.schedule__heading!=content.index.schedule.heading
  .container.schedule__container      
    .row.schedule__row
      - var days = content.index.schedule.days
      each item, i in days
        +cols(i, days.length)
          .schedule__element
            .schedule__day
               +svg('calendar')(class="schedule__ic")
               !=item.day
            .schedule__date!=item.date
            each event in item.events
              .schedule__text!=event.text
              .schedule__event!=event.event  
    .row
      .col-24.text-center
        button.btn.gallery__btn(type="button", data-show-all=".schedule__col")!=content.index.schedule.btn.text
          
        
